<div class="text-center registro-container">
	<div class="form-registro">
		<img class="mb-4" src="./../../../assets/images/user.png" alt="" width="72" height="72">
		<form>
			<label for="inputName" class="sr-only">Nombre</label>
			<input type="text" id="inputEmail" class="form-control" placeholder="Nombre" required autofocus formControlName="name">
			<br>
			<br>
			<label for="inputEmail" class="sr-only">Email</label>
			<input type="email" id="inputEmail" class="form-control" placeholder="Email" required autofocus formControlName="email">
			<br>
			<br>
			<label for="inputPassword" class="sr-only">Contraseña</label>
			<input type="password" id="inputPassword" class="form-control" placeholder="Contraseña" required formControlName="password">
			<br>
			<br>
			<label for="inputPassword" class="sr-only">Confirmar contraseña</label>
			<input type="password" id="inputPassword" class="form-control" placeholder="Contraseña" required formControlName="password">
			<br>
			<br>
			<button style="background-color: #3c2a21; color: white">Registrarse</button>
		</form>
	</div>
</div>

